body {
  margin: 0;
  background-color: ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}

*,
*:before *:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(Img/images/MoGo-first_01.jpg) center no-repeat;
  -webkit-backgraund-size: cover;
  background-size: cover;
  max-height: 1000px;
}

.first__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.first-suptext {
  margin-bottom: 15px;
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  text-align: center;
  margin-top: 230px;
}

.first-text {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}

.first-text:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto 0;
  background-color: #fff;
}

/* header */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-size: 30px;
  font-weight: 700;
  color: white;
}

/* Навигация */

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  transition: color 0.15s linear;
  margin-top: 30px;
  position: relative;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fce38a;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover:after {
  opacity: 1;
}

/*button*/

.button {
  display: inline-block;
  vertical-align: top;
  border: 3px solid #fff;
  padding: 8px 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 40px;
  transition: background 0.2s linear, color 0.2s;
}

.button:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

/*slider*/

.slider {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 60px;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  border-top: 3px solid #fff;
  text-transform: uppercase;
  font: 18px;
  opacity: 0.7;
  position: relative;
}

b {
  font-size: 24px;
  font-weight: 700;
}

.section {
  background-color: #fff;
  padding: 80px 0;
}
.section_header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 60px;
  text-align: center;
}

.story {
  font-size: 30px;
  text-transform: uppercase;
}

.story:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 40px auto 60px;
  background-color: #f38181;
}

.we-do {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
}

.text-one {
  font-size: 15px;
}

/*img-one*/

.img-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.img1 {
  width: 380px;
}

.card__inner {
  position: relative;
  background-color: #95e1d3;
}

.img1:hover .img1__two {
  transform: translate3d(-10px, -10px, 0);
}

.img1:hover .img1__two img {
  opacity: 0.1;
}

.img1:hover .img__text {
  opacity: 1;
}

.img1__two {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s linear;
}

.img1__two img {
  display: block;
  transition: opacity 0.1s linear;
}

.img__text {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

/*statistics*/

.statistics {
  background-color: #95e1d3;
  margin-bottom: 90px;
}

.stat {
  display: flex;
}

.stat__item {
  text-align: center;
  flex: 1 1 0;
  border-left: 1px solid #fff;
  color: #fff;
  padding: 70px 25px;
}

.stat__item:last-child {
  border-right: 1px solid #fff;
}

.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stst__text {
  font-size: 14px;
  text-transform: uppercase;
}

.we__work {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*services*/

.services {
  display: flex;
}

.services__item {
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
  flex: 1 1 0;
}

.services__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.services__text {
  font-size: 15px;
  color: #999999;
}

.services__img {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
}

.services2 {
  display: flex;
  margin-bottom: 90px;
}

.line {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}

.line:after {
  content: "";
  display: block;
  width: 1600px;
  height: 1px;
  margin: 40px auto 60px;
  background-color: #e5e5e5;
}

.section--devices {
  background: url(Img/images/фон2.png);
  padding-bottom: 0;
  margin-bottom: 50px;
}

.devices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

.card__info {
  margin-top: 20px;
  text-align: center;
}

.Card__name {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.Card__Profession {
  color: #999999;
  font-size: 15px;
}

.logotip {
  background-color: #f8f8f8;
  margin-bottom: 90px;
}

.logo__img {
  padding-top: 100px;
  padding-bottom: 80px;
}

.works {
  display: flex;
}
.works__col {
  flex: 1 1 0;
}
